<div class="container">
  @if (canopyTempData && canopyTempData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
      <apx-chart
        [series]="canopyTempData.series!"
        [title]="canopyTempData.title!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [yaxis]="canopyTempData.yaxis!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [theme]="chartOptions.theme!"
      ></apx-chart>
    </div>
  }
  @if (ndviData && ndviData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
        <apx-chart
          [series]="ndviData.series!"
          [title]="ndviData.title!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [legend]="chartOptions.legend!"
          [stroke]="chartOptions.stroke!"
          [markers]="chartOptions.markers!"
          [theme]="chartOptions.theme!"
        ></apx-chart>
    </div>
  }
  @if (gndviData && gndviData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
      <apx-chart
        [series]="gndviData.series!"
        [title]="gndviData.title!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [theme]="chartOptions.theme!"
      ></apx-chart>
    </div>
  }
  @if (eviData && eviData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
      <apx-chart
        [series]="eviData.series!"
        [title]="eviData.title!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [theme]="chartOptions.theme!"
      ></apx-chart>
    </div>
  }
  @if (rdviData && rdviData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
      <apx-chart
        [series]="rdviData.series!"
        [title]="rdviData.title!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [theme]="chartOptions.theme!"
      ></apx-chart>
    </div>
  }
  @if (saviData && saviData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
      <apx-chart
        [series]="saviData.series!"
        [title]="saviData.title!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [theme]="chartOptions.theme!"
      ></apx-chart>
    </div>
  }
  @if (srData && srData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
      <apx-chart
        [series]="srData.series!"
        [title]="srData.title!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [theme]="chartOptions.theme!"
      ></apx-chart>
    </div>
  }
  @if (cigreenData && cigreenData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
      <apx-chart
        [series]="cigreenData.series!"
        [title]="cigreenData.title!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [theme]="chartOptions.theme!"
      ></apx-chart>
    </div>
  }
  @if (gliData && gliData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
      <apx-chart
        [series]="gliData.series!"
        [title]="gliData.title!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [theme]="chartOptions.theme!"
      ></apx-chart>
    </div>
  }
  @if (variData && variData.series) {
    <div  style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.05)">
      <apx-chart
        [series]="variData.series!"
        [title]="variData.title!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [legend]="chartOptions.legend!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [theme]="chartOptions.theme!"
      ></apx-chart>
    </div>
  }
</div>
