.map-container {
  /*position: absolute;*/
  /*top: 150px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*margin: 30px;*/

  flex: 1; /* Take all remaining space */
  display: flex;
  height: 80vh;
  margin: 10px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;

  flex: 1;
  position: relative;
}

#map {
  height: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}



