<!DOCTYPE html>
<html>
<head>
    <title>Wheat Lens</title>
<!--    <script type="text/javascript" src="../static/js/index.js"></script>  </head>-->

    </head>
<body>
    <h1>Select Camera and Date</h1>
    <form action="#" id="image-form">
        <label for="camera_number">Camera Number:</label>
        <select id="camera_number" name="camera_number">
            {% for camera_number in camera_numbers %}
                <option value="{{ camera_number }}">Camera {{ camera_number }}</option>
            {% endfor %}
        </select>

        <label for="selected_date">Date:</label>
        <input type="date" id="selected_date" name="selected_date" required>

        <button type="button" id="load-images-btn">Load Images</button>
    </form>
    <div id="pi-camera-image-container"></div>
    <div id="lepton-image-container"></div>
    <div id="mlx-image-container"></div>
</body>
</html>
<script>
    const loadImagesBtn = document.getElementById("load-images-btn");
    const piCameraImageContainer = document.getElementById("pi-camera-image-container");
    const leptonImageContainer = document.getElementById("lepton-image-container");
    const mlxImageContainer = document.getElementById("mlx-image-container");

loadImagesBtn.addEventListener("click", function() {
  // Get camera number and date from form elements
  const cameraNumber = document.getElementById("camera_number").value;
  const selectedDate = document.getElementById("selected_date").value;

  // Create an AJAX request
  const xhr = new XMLHttpRequest();
  xhr.open("POST", "/images");
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

  // Function to handle the response
  xhr.onload = function() {
    if (xhr.status === 200) {
      // Parse the response (assuming JSON format)
      const imageData = JSON.parse(xhr.responseText);

      // Clear the image container before displaying new images
      piCameraImageContainer.innerHTML = "";
      leptonImageContainer.innerHTML = "";
      mlxImageContainer.innerHTML = "";

      if (imageData.pi_camera_images.length > 0) {
          const title = document.createElement("h2")
          title.textContent = "Raspberry Pi Camera Images"
          piCameraImageContainer.append(title)

          for (const encodedImageData of imageData.pi_camera_images) {
            const image = document.createElement("img");
              image.src = "data:image/jpeg;base64," + encodedImageData;
              image.alt = "Wheat Image";
              piCameraImageContainer.appendChild(image);
        }
      }
      if (imageData.lepton_images.length > 0) {
          const title = document.createElement("h2")
          title.textContent = "Lepton Thermal Camera Images"
          leptonImageContainer.append(title)
          for (const encodedImageData of imageData.lepton_images) {
            const image = document.createElement("img");
              image.src = "data:image/jpeg;base64," + encodedImageData;
              image.alt = "Wheat Image";
              leptonImageContainer.appendChild(image);
        }
      }
      if (imageData.mlx_images.length > 0) {
          const title = document.createElement("h2")
          title.textContent = "MLX Thermal Sensor Images"
          mlxImageContainer.append(title)
          for (const encodedImageData of imageData.mlx_images) {
            const image = document.createElement("img");
              image.src = "data:image/jpeg;base64," + encodedImageData;
              image.alt = "Wheat Image";
              mlxImageContainer.appendChild(image);
        }
      }

    } else {
      console.error("Error loading images:", xhr.statusText);
      // Handle errors appropriately (e.g., display error message)
    }
  };

  // Send the data with the AJAX request
  const formData = `camera_number=${cameraNumber}&selected_date=${selectedDate}`;
  xhr.send(formData);
});

</script>
